.my-category {
  max-width: 270px;
  width: 100%;
  min-height: 310px;
  background-color: rgba(240, 242, 243, 1);
  border-radius: 10px;
  .card-body {
    height: 270px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;

    img {
      width: 180px;
      height: 180px;
      object-fit: cover;
    }
  }
  .card-footer {
    height: 65px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(225, 227, 229, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    h5 {
      color: rgba(39, 35, 67, 1);
      font-size: 20px;
      font-weight: 500;
    }
  }
}
