.my-discounts {
  margin-top: 100px;
  .container {
    padding: 0 10px;
    max-width: 1150px;
    margin: 0 auto;
    .title {
      font-size: 26px;
      font-weight: 600;
      color: rgba(39, 35, 67, 1);
    }
    .products-grid {
      margin-top: 48px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 40px;
    }
  }
}
